# Environment files
.env

# Vector databases / ChromaDB
chroma_db/
chroma_db_test/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# PDFs and local data files
data/uploaded_docs/*
!data/uploaded_docs/.gitkeep
*.pdf

# Logs
*.log
